@model ShadracPhoneRepairFinial1.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpWage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpWage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeRole)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
