@model ShadracPhoneRepairFinial1.Models.DeviceProblem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DeviceProblem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeviceProblemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
