@model ShadracPhoneRepairFinial1.Models.WalkInRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WalkInRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceProblem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceProblem.DeviceProblemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceDescription.DeviceDescriptionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storage.StorageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour.ColourId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMEI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMEI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkInTimes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkInTimes.WalkInTimesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus.PaymentStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CApprovalMessages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CApprovalMessages.CApprovalMessagesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalMessages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalMessages.ApprovalMessagesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WalkInRequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
