@model IEnumerable<ShadracPhoneRepairFinial1.Models.WalkInRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceProblem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMEI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WalkInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WalkInTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CApprovalMessages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalMessages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceProblem.DeviceProblemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceDescription.DeviceDescriptionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.StorageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour.ColourId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMEI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkInTimes.WalkInTimesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus.PaymentStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CApprovalMessages.CApprovalMessagesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalMessages.ApprovalMessagesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WalkInRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WalkInRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WalkInRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
