@model ShadracPhoneRepairFinial1.Models.DeviceStatusWalkIns

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/BlankLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DeviceStatusWalkIns</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceProblem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceProblem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMEI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMEI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkInTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkInTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkInStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkInStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairStatus.RepairStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicianId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicianId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalOfCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalOfCharge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrackingNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
